.navbar--container {
	width: 100%;
	background-color: green;
}

.navbar--ul {
	width: 90%;
	background-color: pink;
}

.navbar--li {
	background-color: blue;
	margin: 2px;
	width: 150px;
}

.navbar--a {
	text-decoration: none;
	color: white;
}
